Q.1

Create a function that takes three integer arguments (a, b, c) and returns the amount of integers which are of equal value.

In [2]:
def count(a,b,c):
    if a == b == c:
        return "3"
    elif (a == b or a == c) or (b == a or b == c) or (c == a or c == b):
        return "2"
    else:
        return "None of the value is equal"

In [6]:
count(3,3,3)

'3'

Q.2 

Write a function that converts a dictionary into a list of keys-values tuples.

In [22]:
d = {'a' : 'first','b' :'second','c' : 'third','d': 'fourth' }
def conversion(d):
    lst = []
    for i in d.items():
        lst.append(i)
    return lst

In [23]:
conversion(d)

[('a', 'first'), ('b', 'second'), ('c', 'third'), ('d', 'fourth')]

Q.3

Write a function that creates a dictionary with each (key, value) pair being the (lower case, upper case) versions of a letter, respectively.

In [20]:
l = ['a','b','c','d','e','f']
def upper_lower(l):
    d = {}
    for i in range(len(l)):
        d.update({l[i].lower():l[i].upper()})
    return d

In [21]:
upper_lower(l)

{'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D', 'e': 'E', 'f': 'F'}

Q.4 

Write a function, that replaces all vowels in a string with a specified vowel

In [55]:
str='banana'
def replacement(str):
    vw = 'aAeEiIoOuU'
    for i in range(len(str)):
        if str[i] in vw:
            
            str = str.replace(str[i],'u')
    d = str        
    print(d)

In [56]:
replacement(str)

bununu

Q.5

Create a function that takes a string as input and capitalizes a letter if its ASCII code is even and returns its lower case version if its ASCII code is odd.

In [53]:
str = "THE LITTLE MERMAID"
def enev_odd(str):
    a = str
    t=""
    for i in range(len(str)):
        
        if ord(a[i])%2 == 0:
            t = t + (a[i].upper())
        else:
            t = t + (a[i].lower())
    return t

In [54]:
enev_odd(str)

'THe LiTTLe meRmaiD'