Question1

Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.

In [38]:
l = [1,2,3,4,5,6]
def updated_list(l,a):
    l.append(a)
    l.pop(0)
    return l

In [39]:
updated_list(l,90)

[2, 3, 4, 5, 6, 90]

Q.2

Create the function that takes a list of dictionaries and returns the sum of people's budgets.

In [9]:
def budgets(l):
    sum=0
    for i in l:
        sum += i["budget"]
    return(sum)

In [11]:
d = [
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
] 

budgets(d)

65700

Q.3 

Create a function that takes a string and returns a string with its letters in alphabetical order.

In [20]:
def ordered(d):
    a=sorted(d)
    b = "".join(a)
    print(b)

In [22]:
ordered('hello')

ehllo

Q.4
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.
For the example above:
compound_interest(10000, 10, 0.06, 12) âžž 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly compounding there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or daily.

In [48]:
def compound_interest(principal,years,rate,cmp_periods):
    total_amount = principal * (1 + rate/cmp_periods)**(cmp_periods*years)
    return total_amount

In [49]:
compound_interest(10000,10,0.06,12)

18193.9673403229

Q.5


Write a function that takes a list of elements and returns only the integers.

In [24]:
def integer_only(l):
    k = []
    for i in l:
        if type(i) == int:
            k.append(i)
    return k

In [26]:
l = [1,2,True,'name',[1,2,3,4]]
integer_only(l)

[1, 2]