Q.1

Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [2]:
num = input('Enter a no.')
def symmetrical(a):
    if a[::-1] == a:
        return 'Yes, it is symmetrical'
    else:
        return 'No, it is not symmetrical'

Enter a no. 1234321

In [4]:
symmetrical(num)

'Yes, it is symmetrical'

Q.2 Given a string of numbers separated by a comma and space, return the product of the numbers.

In [ ]:
str = "1, 2, 3, 4"
def prod(str):
    s = str.split(',')
    num = 1
    for i in s:
        num = num * int(i)
    return num

In [12]:
prod(str)

24

Q.3 Create a function that squares every digit of a number

In [1]:
l = int(input('Please enter a no. : '))
def every_no(l):
    no=[]
    for i in str(l):
        no.append(str(int(i)**2))
    
    return int(''.join(no))

Please enter a no. :  9119

In [2]:
every_no(l)

811181

Q.4 

Create a function that sorts a list and removes all duplicate items from it

In [44]:
import pandas as pd
def unique(l):
    sr = pd.Series(l)
    sr = sr.unique()
    return sr

In [46]:
l = [1,3,3,5,5]
unique(l)

array([1, 3, 5])

Q.5 

Create a function that returns the mean of all digits

In [55]:
import numpy as np
num = input('Enter a no:')
def mean_of_digits(num):
    num = [int(i) for i in num]
    n = np.array(num)
    return np.mean(n)

Enter a no: 12345

In [56]:
mean_of_digits(num)

3.0